/* :root {
  --primary-color: #f3f3f3;
  --secondary-color: #dddddd;
  --ternary-color: #414141;
  --clock-primary-colour: #d4a3c4;
  --background-color: #ddddddd5;
  --second-niddle-color: #ff0000;
  --niddle-color: #ffffff;
  --text-color: #e0e0e0;
  --boxColor-color: #2b2b2b;
  --octonary-color: #494949;
  --nonary-color: #cacaca;
  --denary-color: #2b2b2b;
  --quinary-color: #f3f3f3;
} */

:root {
  --primary-color: #171717;
  --secondary-color: #222222;
  --ternary-color: #ffffff;
  --clock-primary-colour: #d4a3c4;
  --background-color: #ddddddd5;
  --second-niddle-color: #ff0000;
  --niddle-color: #ffffff;

  /* //vhbhvb */
  --text-color: #e0e0e0;
  --boxColor-color: #2b2b2b;
  --octonary-color: #494949;
  --nonary-color: #cacaca;
  --denary-color: #2b2b2b;
  --quinary-color: #f3f3f3;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: var(--primary-color);
  font-family: "Roboto", sans-serif;
}
.container {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 300px;
  height: 450px;
  align-items: center;
  flex-direction: column;
  background: var(--secondary-color);
  border-radius: 50px;
  /* box-shadow: 30px 30px 30px -10px rgba(0, 0, 0, 0.15),
    inset 15px 15px 10px rgba(225, 225, 225, 0.75),
    -15px -15px 35px rgba(225, 225, 225, 0.55),
    inset -1px -1px 10px rgba(0, 0, 0, 0.2); */
  background: #171717;
  box-shadow: 30px 30px 30px -10px rgba(15, 15, 15, 0.411),
    inset 15px 15px 10px rgba(53, 53, 53, 0.75),
    -15px -15px 35px rgba(0, 0, 0, 0.55),
    inset -1px -1px 10px rgba(145, 145, 145, 0.2);
}
.clock {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 300px;
  height: 300px;
}

.clock::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  z-index: 1000;
  box-shadow: 0 0 0 1px #e91e63, 0 0 0 3px #fff, 0 0 5px 5px rgba(0, 0, 0, 0.15);
}

.clock .numbers {
  position: absolute;
  inset: 35px;
  /* background: linear-gradient(111deg, #f0ff6a, #ff8d8d); */
  background: var(--clock-primary-colour);
  border-radius: 50%;
  /* box-shadow: 5px 5px 15px #152b4a66,
    inset 5px 5px 5px rgba(255, 255, 255, 0.55),
    -6px -6px 10px rgba(255, 255, 255, 0.8); */
  box-shadow: 30px 30px 30px -10px rgba(78, 78, 78, 0.411),
    inset 15px 15px 10px rgba(48, 48, 48, 0.342),
    -15px -15px 35px rgba(15, 15, 15, 0.384),
    inset -1px -1px 10px rgb(255, 255, 255);
}

.clock .numbers span {
  position: absolute;
  inset: 5px;
  text-align: center;
  /* color: #e9e9e9; */
  color: #242424;
  font-size: 1.25em;
  transform: rotate(calc(30deg * var(--i)));
}

.clock .numbers span b {
  font-weight: 600;
  display: inline-block;
  transform: rotate(calc(-30deg * var(--i)));
}

.clock .numbers .circle {
  position: absolute;
  inset: 0;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  z-index: 10;
}
.clock .numbers .circle i {
  position: absolute;
  width: 3px;
  height: 50%;
  background-color: var(--niddle-color);
  transform-origin: bottom;
  transform: scaleY(0.55);
}

.clock .numbers .circle#hr i {
  transform: scaleY(0.3);
  width: 4px;
}
.clock .numbers .circle#mn i {
  transform: scaleY(0.45);
  position: absolute;
  width: 3px;
  z-index: 11;
}
.clock .numbers .circle#sc i {
  transform: scaleY(0.55);
  background-color: var(--second-niddle-color);
  width: 2px;
  box-shadow: 0 30px 0 var(--second-niddle-color);
}

.collor_pallate {
  display: flex;
  width: 100%;
  height: 40px;
  flex-direction: row;
  justify-content: center;
  position: relative;
  top: 3%;
  margin-top: 5px;
  flex-wrap: wrap;
}
.color-box {
  width: 25px;
  height: 25px;
  margin: 3px;
  border-radius: 50%;
  cursor: pointer;
  border: 1px solid rgb(255, 255, 255);
}

.color-box:hover {
  box-shadow: 0 0 2px rgb(71, 71, 71);
  transform: scale(1.1);
}

.custom-file-upload {
  padding: 10px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 40px;
  display: inline-block;
  cursor: pointer;
  background: var(--clock-primary-colour);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  color: var(--ternary-color);
  font-size: 1.2em;
  font-weight: 600;
  text-align: center;
}

.custom-file-upload:hover {
  /* box-shadow: 0 0 5px rgba(0, 0, 0, 0.4); */
  box-shadow: 0 0 5px rgba(179, 179, 179, 0.4);
}

.custom-file-upload i {
  margin-right: 5px;
}
